@font-face {
    font-family: 'Nunito';
    src: url('assets/nunito.woff2') format('woff2');
}

body {
    font-family: 'Nunito', sans-serif;
}

.card {
    border-style: dashed;
}

hr {
    border-style: dashed;
}

@media (prefers-color-scheme: light) {
    .card {
        border-color: #999;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: #ddd;
        background-color: #222;
    }
    .card {
        color: #ddd;
        border-color: #666;
        background-color: #222;
    }
}
