@font-face {
    font-family: 'Nunito';
    src: url('assets/nunito.woff2') format('woff2');
}

body {
    font-family: 'Nunito', sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #ddd;
        background-color: #222;
    }
}

.card {
    border-style: dashed;
}
